html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'Tinos', sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #C6E9EB;
}

body {
    width: 900px;
    margin: 10px auto;
    background-color: aqua;
    padding: 0 20px 20px 20px;
    border: 4px solid cornflowerblue;
  }

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    text-shadow: 3px 3px 1px #C6E9EB;
}
  
p, li {
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.5px;
}

img {
    display: block;
    margin: 0 auto;
    border: 4px solid cornflowerblue;
}